/* 
	COLOURS 
	red: #ef3c4f 
	yellow: #ffbc0b
	dark-brown: #101010 or #393939
	middle-brown: #757575 or #797979
*/

* {
	font-family: 'Poppins', sans-serif;
	transition: 0.3s;
}

.font-weight-500 {
	font-weight: 500;
}

.flex {
	display: flex;
	align-items: center;
}

.mb48 {
	margin-bottom: 48px;
}

.pt80 {
	padding-top: 80px;
}

/* NAVBAR DEFAULT */

nav {
	height: 100px;
	padding-right: 0 !important;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
	color: #FFF;
}

nav .navbar-brand {
  font-size: 25px;
}

nav .nav-link {
	font-size: 14px;
	padding-right: 20px;
	padding-left: 20px;
}

nav .navbar-nav .nav-link:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #ffbc0b; 
	background-color: rgba(0, 0, 0, 0);
}

nav .navbar-brand:hover,
.navbar-default .navbar-brand:hover {
	color: #FFF;
}

/* NAVBAR ON SCROLL */

nav.nav-scrolled {
	background-color: #FFF;
	height: 80px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

nav.nav-scrolled .navbar-nav .nav-link,
nav.nav-scrolled .navbar-brand {
	color: #393939;
}

nav.nav-scrolled .navbar-brand:hover {
	color: #393939;
}

/* JUMBOTRON */

.jumbotron {
	height: 100vh;
	background: url("http://themes.khaitawng.com/Walter/Trainer/images/home-bg.jpg") no-repeat center;
	background-size: cover;
	background-position: 50% -25px;
	background-attachment: fixed;
	margin-bottom: 0;
}

.jum-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	color: #FFF;
}

.jumbotron-text {
	max-width: 750px;
	margin: 0 auto;
}

.jum-overlay h3 {
	font-size: 21px;
	line-height: 30px;
	padding-bottom: 15px;
}

.jum-overlay h1 {
	font-weight: 300;
	font-size: 56px;
	line-height: 80px;
	padding-bottom: 15px;
}

.play-link {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-right: 20px;
}

.play-link:hover {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.play-link .fa-play {
	margin-right: 15px;
	padding: 12px;
	border: 1px solid #FFF;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.btn-default {
	color: #FFF;
	background-color: #ffbc0b;
	border: none;
	border-radius: 2px;
	padding: 15px 30px;
	transition: 0.3s;
}

.btn-default:hover {
	transform: translateY(0) scale(1.05);
	background-color: #ffbc0b;
	color: #FFF;
}

/* MODAL */
.modal-open {
	padding-right: 0 !important;
	overflow: visible;
}
.modal {
	text-align: center;
}

.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: "";
	height: 100%;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	min-width: 400px;
}

.modal-content {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.modal-header {
	padding: 0;
	border: none;
}

.modal-body {
	background-color: transparent;
	padding: 0;
}

button.close {
	font-size: 28px;
}

.wrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* MAIN */

h2 {
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 40px;
	margin-top: 42px;
	color: 	#393939;
}

p {
	font-size: 14px;
	line-height: 25px;
	color: #757575;
}

/* ABOUT ME */
.about .skills p {
	color: 	#393939;
}

.progress {
	height: 3px;
	background-color: #FFF;
	box-shadow: none;
}

.progress-bar {
	background-color: #ffbc0b;
}

.about img {
	width: 70%;
	min-width: 250px;
	max-width: 350px;
	margin: 0 auto;
}

/* MY CLASSES */
.my-classes {
	background-color: #f9f9f9;
}

.my-classes h3 {
	color: #393939;
	font-size: 21px;
	line-height: 30px;
}

.card {
	background-color: #FFF;
	padding: 50px 30px 30px;
	margin-bottom: 75px;
}

.card .card-text {
	width: 75%;
	margin: 0 auto;
}

.my-classes img {
	width: 100%;
	max-width: 400px;
}

/* MY PHOTOS */
.photos .col-md-3 {
	padding-left: 0;
	padding-right: 0;
}

.photos img {
	width: 100%;
}

.img-overlay {
	background-color: rgba(255, 188, 11, 0.8);
	cursor: pointer;
	opacity: 0;
	transition: 0.7s;
}

.img-overlay:hover {
	opacity: 1;
}

.img-overlay .overlay-text {
	margin: 0 auto;
}

.photos h4 { 
	font-size: 21px;
	line-height: 30px;
}

.photos p {
	font-size: 12px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFF;
}

/* CONTACT */
.contact {
	background-color: #101010;
	color: #FFF;
	padding-bottom: 90px;
}

.contact h2.form-heading {
	padding-left: 15px;
	color: #FFF;
}

.contact input {
	height: 55px;
}

.contact input,
.contact textarea {
	background-color: #101010;
	color: #FFF;
	border: 2px solid #101010;
}

.contact input:hover,
.contact textarea:hover {
	border: 2px solid #797979;
}

.contact .btn {
	width: 100%;
	background-color: #FFF;
	padding: 20px 40px;
	color: #101010;
}

.contact .btn:hover {
	background-color: #ffbc0b;
	color: #FFF;
	transform: none;
}

.info-text {
	padding: 0 30px;
}

.contact-info h2 {
	margin-top: 0;
	color: #FFF;
}

.contact-info p {
	color: #797979;
	margin-top: 25px;
}

/* FOOTER */

footer {
	height: 235px;
	background-color: #000;
	color: #FFF;
}

footer h3 {
	font-size: 30px;
	margin-bottom: 25px;
}

.social-media i.fa {
	font-size: 15px;
	line-height: 30px;
	margin: 0 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transition: 0.3s;
}

.social-media a {
	color: #FFF;
}

.social-media i.fa:hover {
	background-color: #ffbc0b;
	transform: translateY(0) scale(1.2);
}


/* MEDIA QUERIES */

@media (max-width: 767px) {
	.card {
		margin-bottom: 35px;
	}
	.contact .btn {
		margin-bottom: 80px;
	}
	.pt80 {
		padding-top: 40px;
	}
}

/* NAVBAR MOBILE */
@media (max-width: 767px) {
	nav .container {
		width: 100%;
	}
	.navbar-default {
		background-color: #FFF;
		min-height: 80px;
		height: fit-content;
	}
	.navbar-default .navbar-nav>li>a,
	.navbar-default .navbar-brand {
		color: #000;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		border: none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		text-align: center;
	}
}

@media (max-width: 639px) {
	.jum-overlay h1 {
		font-size: 27px;
		line-height: 38px;
	}
	.modal-dialog {
		max-width: 90%;
		width: 90%;
		min-width: 90%;
	}
}

@media (max-width: 424px) {
	h2, footer h3 {
		font-size: 21px;
	}
}

@media (max-width: 380px) {
	.jumbotron .btn {
		margin-top: 20px;
	}
}
